<% include partials/header %>
      
 <div class="container">
   <h1>Welcome to Emon!</h1>
   <p>To do way with national barriers </p>

   <a class="btn btn-primary" href="/users">Profiles</a>
   
 </div>

<% include partials/footer %>
