footer {
  text-align: center;
  color: black;
}

.rounded-circle {
  width: 140px!important;
  height: 140px!important;
  vertical-align: center!important;
}

#img {
  margin: auto;
  display: block;
}

#nav {
  margin-bottom: 2em;
}

#footer {
  margin-top: 2em;
}

#btn {
  display: flex;
}

/*p {
  text-align: justify!important;
}*/